:root {
  --btn-color: #596d48;
  --input-color: #e5e7eb;
}

*::before,
*::after,
* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.img-section {
  display: block;
  position: relative;
  width: 30%;
  min-height: 100vh;
  background-image: url("./images/leaf-plant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 0;
}

.section-title h1 {
  font-family: "Skranji", system-ui;
  color: #fff;
  font-size: 3rem;
  letter-spacing: 4px;
}
.odin-logo {
  width: 80px;
  height: 100px;
}

.img-by {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0.75rem 0;
  color: #fff;
}

.img-by p > a {
  color: #fff;
}

/* form */
main {
  display: flex;
}

.form-section {
  background-color: #fafafa;
  flex: 1;
}
.section-text p {
  font-size: 18px;
}

.form-block {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 6px -3px #000;
  padding: 1rem 3rem;
  margin-top: 3rem;
}
.form-title {
  margin-bottom: 1.5rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 240px;
}
.form-row {
  display: flex;
  gap: 5rem;
  margin-bottom: 1.5rem;
}

.input-group input {
  padding: 0.4rem;
  border: 1px solid var(--input-color);
  border-radius: 5px;
}
.input-group label {
  font-size: 0.7rem;
  font-weight: bold;
}

input:focus {
  border: 1px solid blue;
  outline: none;
}

input[type="password"]:user-valid {
  border: 1px solid red;
  outline: none;
}

.container {
  width: 100%;
  max-width: 900px;
}

.section-description,
.section-sub {
  max-width: 60ch;
  font-weight: 600;
}

.section-description {
  margin-bottom: 1rem;
}

.section-text {
  margin: 3rem auto 0;
}

.form-footer {
  margin-top: 2rem;
  margin-left: 3rem;
}
.submit-btn {
  background-color: var(--btn-color);
  border: none;
  padding: 0.8rem 2.5rem;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.login-text {
  margin-top: 1rem;
  font-size: 15px;
}
.login-link {
  color: #596d48;
  text-decoration: none;
  font-weight: 600;
}
